body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.rooms_panel{
  position: absolute;
  border: 1px solid black;
  width: 13em;
  height: 19em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
  background-color: #484848;
}
.headers{
  display: flex;
  color: white;
  font-size: 0.7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type=search]{
  border-radius: 5px;
  width: 70%;
  font-size: 0.45em;
  height: 40px;
  padding: 10px 15px;
}
::-webkit-input-placeholder{
  font-size: 1em;
}
.hide {
    display: none;
}
#user_cards{
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color:white;
  font-size: 0.4em;
  width:65%;
  height: 90%;
  overflow-y: scroll;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  table-layout: fixed;
}
th,td{
  padding: 10px 10px;
  user-select: none;
  text-align: center;
  width: 33%;
}
th {
  background-color: #4CAF50;
}
tr:hover,#btn_create_rooms:hover{
  background-color: #f1f1f1;
}
#btn_create_rooms:hover{
  background-color: #a79797;
}
td{
  color: #333;
  text-decoration: none;
}
::-webkit-scrollbar{
  display: none;
}

#btn_create_rooms{
  position: relative;
  font-size: 1.3em;
  border-radius: 10px;
  width: 40px;
  border: none;
}
#backgroundImage{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:615px) {
  .rooms_panel{
    width: 17.5em;
    height: 27.5em;
    font-size: 1.3em;
  }
  #btn_create_rooms{
    font-size: 1.2em;
    width: 25px;
    height: 20px;
    border-radius: 7px;
  }
  .headers{
    font-size: 1.3em;
  }
  input[type=search]{
    width: 75%;
    font-size: 0.8em;  
  } 
  th{
    font-size: 1.5em;
  }
  #user_cards{
     margin: 30px auto;
  }
  input[type=search]{
    height:30px;
  }
}

@media screen and (max-height:650px) {
   body{
     overflow-y: scroll;
   }  
}

  