body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.rooms_panel{
  position: relative;
  border: 1px solid black;
  width: 13em;
  height: 19em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  font-size: 3em;
  background-color: #484848;
  grid-column-start: 2;
}
.headers{
  display: flex;
  color: white;
  font-size: 0.7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type=search]{
  border-radius: 5px;
  width: 70%;
  font-size: 0.45em;
  height: 40px;
  padding: 10px 15px;
}
::-webkit-input-placeholder{
  font-size: 1em;
}
.hide {
    display: none;
}
#user_cards{
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color:white;
  font-size: 0.4em;
  width:65%;
  height: 90%;
  overflow-y: scroll;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  table-layout: fixed;
}
th,td{
  padding: 10px 10px;
  user-select: none;
  text-align: center;
  width: 33%;
}
th {
  background-color: #4CAF50;
}
tr:hover,#btn_create_rooms:hover{
  background-color: #f1f1f1;
}
#btn_create_rooms:hover{
  background-color: #a79797;
}
td{
  color: #333;
  text-decoration: none;
}
::-webkit-scrollbar{
  display: none;
}

#btn_create_rooms{
  position: relative;
  font-size: 1.3em;
  border-radius: 10px;
  width: 40px;
  border: none;
}
#backgroundImage{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
      .profilepopup{
        position: relative;
        display: none;
        align-items: center;
        width: 400px;
        height:500px;
        background-color: #484848;
        flex-direction: column;
        border-radius: 10px;
        padding-top: 40px; 
        z-index: 5;
        justify-self: flex-end;
        grid-column-start: 3;
        border:  1px solid black;
        top: 20px;
      }
      .profilepicture{
        position: relative;
        border-radius: 50%;
        height: 130px;
        width:130px;
        background-color: white;
        overflow: hidden; 
        border: 3px solid green;       
      }
      .profilepicture img{
        width:100%;
        height:100%;
        object-fit: cover;
      }
      .addImagebtncont{
        position: absolute;
        top:60%;
        left: 65%;
        height:40px;
        width:40px;
        background-color: white;
        border-radius: 50%;
        z-index: 12;
      }
      .addImagebtncont:hover{
        background-color: #faf0f0;
      }
      .imagebtn{
        border-radius: 50%;
        height:40px;
        width:40px;
        border-style: none;
        position: absolute;
        z-index: 10;
        padding: 0;
        opacity: 0;
      }
      h5{
        color:white;
        font-size: 1.2em;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: relative;
      }
      .value{
        position: relative;
        width:50%;
        background-color: #484848;
        border-style: none;
        padding: 5px 0;
        color: white;
        left: 30%;
        margin-top: 10px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      #useremail{
        margin:0;
        font-size: 0.5em;
      }
      .fa-pencil{
          display:flex !important;
          margin: 0;
          width:40px;
          height:40px;
          z-index:5;
          position:relative;
          top:0;
          justify-content: center;
          align-items: center;
          color: black;
      }
      .fa-x{
        position: absolute;
        left:85%;
        font-size: 1.3em;
        color: white;
      }
      #disname{
         margin: 5px; 
      }
      .actionsbtns{
        background-color: #484848;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        font-size: 1.5em;
        border-radius: 10px;
        border-style: none;
        font-weight: 600;
        height: 40px;
        margin-top: 20px;
      }
      .actions{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top:  35px;
      }
      #signout:hover{
        color: green;
      }
      #delacc:hover{
        color:red;
      }
      #idacc{
        margin: 0;
        font-size: 0.2em;
      }
      #signout{
        width: 120px;
      }
      .cont{
        margin: auto 20px auto auto;
        column-gap: 30px;
        position: relative;
        height: 100dvh;
        display: grid;
        grid-template-columns: 0.5fr 0.2fr;
      }
@media screen and (max-width:615px) {
  .rooms_panel{
    width: 17.5em;
    height: 27.5em;
    font-size: 1.3em;
  }
  #btn_create_rooms{
    font-size: 1.2em;
    width: 25px;
    height: 20px;
    border-radius: 7px;
  }
  .headers{
    font-size: 1.3em;
  }
  input[type=search]{
    width: 75%;
    font-size: 0.8em;  
  } 
  th{
    font-size: 1.5em;
  }
  #user_cards{
     margin: 30px auto;
  }
  input[type=search]{
    height:30px;
  }
  .profilepopup{
          margin: 10px;
          height: 400px;
          width: 350px;
  } 
        .profilepicture{
          width: 100px;
          height: 100px;
        }
        .addImagebtncont{
           width: 35px;
           height: 35px;
        }
        .imagebtn{
          width: 35px;
          height: 35px;
        }
        .fa-pencil{
          width: 35px;
          height: 35px;
        }
        .actionsbtns{
          font-size: 1.3em;
        }
        .actions{
          margin-top: 15px;
        }
        h5{
          font-size: 1em;
        }
 
}

@media screen and (max-height:650px) {
   body{
     overflow-y: scroll;
   }  
}

  