body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100dvh;
}

#header{
  font-size:45px;
}

#line{
  background-color:white;
  width:80%;
}

.message{
  font-family: sans-serif;
  display: inline-block;
  font-weight: 500;
  margin-left: 5px;
}
.second{
  margin: 13.3px 2px;
}

.upper {
  background-image: url("../images/chess-5519065_1280.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
button{
    margin: 10px;
    font-size: 1em;
    text-decoration: none;
    background-color: #484848;
    width:15em;
    height:3em;
    border-radius: 5px;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50dvh;
}
.buttons {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color:white;
}
.buttons:hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buttons:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media  screen and (max-width:700px) {
  #header{
  font-size:25px;
}
.text{
  width:80%;
}
.second{
  margin: 5px 2px;
}
.upper{
  height:300px;
}
}