body{
    margin:0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #484848;
    font-family: Arial;
    cursor: pointer;
} 
#login_first{
color: white;
background-color: #484848;
border-style:none;
}
#signup_first{
color: black;
background-color: white;
border-style:none;
}
#login_second{
color: black;
background-color: white;
border-style:none;
}
#signup_second{
color: white;
background-color: #484848;
border-style:none;
}
#title{
display: flex;
align-items: center;
justify-content: center;
}
form{
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    height: 27em;
    width: 19em;
    font-size: 1.3em;
    background-color: white;
    border-radius: 5px;
    border-style: none;
}
.forms_btns{
border: 1px solid black;
display: flex;
height:2em;
width:100%;
border-radius: 5px;
justify-content: center;
align-items: center;
} 
#change_forms{
    display: flex;
    position: relative;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    width: 75%;
    left: 13%;
}
a{
    text-decoration: none;
} 
input,button{
    position: relative;
    height:2em; 
    border-radius: 5px;  
    border-color: rgba(0,0,0,0.3);
    margin-top: 25px;
}
button{
    width: 76%;
    left: 13%;
    top: -1%;
    background-color: #484848;
    color: white;
    height:2.5em;
    border-style: none;
    font-size: 0.9em;
}
input{
    width: 71%;
    left: 13%;
    padding-left: 1em;
    font-size: 0.8em ;
}
.link{
    color: #484848;
}
.guest_links{
    position: relative;
    display: flex;
    font-size:0.8em;
    width: 35%;
    left:13%;
}
.linkscont{
   display:flex;
   flex-direction:row; 
}
.playoffline{
    margin-left: 69px;
}
#signup_form .linkscont .playoffline{
    margin-left: 0;
}
#password_login,#password_signup{
    position: relative;
    display: flex;
    top:-2%; 
}
#member_link{
    position: relative;
    display: flex;
    justify-content: center;
    top:5%;
    font-size: 0.8em;
}
.eyebtn{
    position: absolute;
    left: 77%;
    top: 41.7%;
    width:37px;
    height:35px;
    text-align: center;
}
@media screen and (max-width:615px){
    #title{
        font-size: 1.5em;
    }
    form{
        height: 22em;
        width: 16em; 
    }
        .forms_btns{
        font-size: 0.9em;
        height:2.2em;
        width:100%;
        } 
        #change_forms{
            width: 75%;
            left: 13%;
        }
        input,button{
            height:1.7em; 
            margin-top: 25px;
        }
        button{
            width: 76%;
            left: 13%;
            top: -1%;
            height:2.5em;
            font-size: 0.8em;
        }
        input{
            width: 65%;
            left: 13%;
            padding: 4px 16px;
        }
        input::placeholder{
            font-size: 0.5em;
        }
        .guest_links{
            left: 13%;
            font-size:0.7em;
            width: 40%;
        }
        #password_login,#password_signup{
            top:-2%; 
        }
        #member_link{
            top:5%;
            font-size: 0.7em;
        } 
       .eyebtn{
    position: absolute;
    text-align: center;
    width:27px;
    height:25px;
    left: 74%;
    top: 47%;
    font-size:0.9em;
}
.linkscont{
    margin-top: 5px;
}
.playoffline{
    margin-left: 30px;
}
#signup_form .linkscont .playoffline{
    margin-left: 0;
}
}
