#cookiepopup{
position: absolute;
top:50%;
background-color: #cbbba0;
width: 550px;
height: 260px;
border-radius: 10px;
display: flex;
align-items: center;
opacity: 1;
border: 1px solid black;
overflow: hidden;
z-index:10;
}
#imagecontainer,#detailscontainer{
    width: 250px;
    height: 100%;
}
#imagecontainer img{ 
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100%;
}
.detailscookie{
    font-size: 0.9em;
    margin: 0;
    color: whitesmoke;
}
#detailscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#detailscontainer h3{
   color:whitesmoke;
   font-size: 1.4em;
   font-weight: 900;
}
#cookiesbtn{
    margin-top: 40px;
    width: 15em;
    height: 2.5em;
    border-radius: 10px;
    background-color: beige;
    color: black;
}
#cookiesbtn:hover{
    background-color: #ded5ca;
}
@keyframes fade-out {
    10%{
        opacity: 0.9;
    }
    20%{
        opacity: 0.8;
    }
    30%{
        opacity: 0.7;
    }
    40%{
        opacity: 0.6;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.4;
    }
    70%{
        opacity: 0.3;
    }
    80%{
        opacity: 0.2;
    }
    90%{
        opacity: 0.1;
    }
    100%{
        opacity: 0;
    }
}
.fa-x{
    position: absolute;
    top:20px;
    right: 20px;
    font-size: 1.3em;
}
@media  screen and (max-width:615px){
    #cookiepopup{
        width: 400px;
        height: 200px;
        text-align: center;
        overflow: hidden;
    } 
    #imagecontainer,#detailscontainer{
        width: 180px;
        height: 100%;
    }    
    .detailscookie{
        font-size: 0.8em;
    } 
    #detailscontainer h3{
        font-size: 1.1em;
        font-weight: 300;
     }
     #cookiesbtn{
        margin-top: 20px;
        width: 11em;
        height: 2.5em;
    }
    .fa-x{
        font-size: 1em;
    }
}