.board{
 display: flex;
 border: 3px solid black;
 width: 495px;
 position: absolute;
}

body{
    display:flex;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    justify-content: center;
    user-select: none;
}

.column{
    display: flex;
    flex-direction: column;
}

.background{
    height:100%;
    width: 100%;
    position: absolute;
}
.square{
    width: 60px;
    height: 60px;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
    display: flex;
    font-size: 18px;
}
.pieces,.promote_pieces{
    height:30px;
    width: 30px; 
}
.pieces .white {
background-image: none;
}
.column:nth-child(odd) .square:nth-child(even),.column:nth-child(even) .square:nth-child(odd){
    background-color: rgb(100,75,43);
}

.column:nth-child(odd) .square:nth-child(odd),.column:nth-child(even) .square:nth-child(even){
    background-color: rgb(240,201,150);
}
#turn{
   display: none;
}
.promote {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .promote-content {
    border-radius: 5px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 455px;
    text-align: center;
  }

 @keyframes rotate-white {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg); 
    }
 }
 @keyframes rotate-black {
    0%{
        transform: rotate(180deg);  
    }
    100%{
        transform: rotate(0deg); 
    }
 }
 .wrapper{
    width:600px;
    background-color: rgb(99, 57, 5);
    height:600px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:2px;
    z-index: 5;
    grid-row-start: 4;
}
.cors{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(240,201,150);
}
#alfabet_cors{
    flex-direction:row;
    top:500px;
    font-family:system-ui;
    left:-24px;
    width:100%;
}
#numbers_cors{
    flex-direction:column-reverse;
    left:-40px;
}
.alfabet_cor,.number_cor{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
}
.alfabet_cor{
    margin-left:47px;
}
.number_cor{
    margin-top:29px;
}
#cor8{
   margin-top:6px; 
}
#resultpopup{
    position: absolute;
    display:none;
    align-items:center;
    justify-content: center;
    border: 1px solid black;
    height: 10em;
    border-radius: 10px;
    width:23em;
    height:40.3em;
    background-color:#484848;
    font-size: 1.1em;
    font-family: monospace;
    z-index: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    align-self: center;
}
#winner{
  position:absolute;
  top:10%;
  font-size:2em;
  text-shadow: 1px 1px rgba(63,107,169,1);
  color:white;
}
#finalresult{
  position:absolute;
  top:20%;
  font-size:1.2em;
  text-shadow: 1px 1px rgba(63,107,169,1);
  color:white;
}
#btn{
   position:absolute;
   width:90%;
   top:80%;
   border-radius: 30px;
   background-color:white;
   box-shadow: 3px 3px red;  
   color:red;
 font-size: 1.5em;
 border:none;
}
#btn:hover{
box-shadow: 3px 3px green;
color:green;
}
#trophy{
 position:absolute;
 width:40%;
 top:40%;
 font-size: 2rem;
}
#timerpopup{
    position:relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    width:260px;
    height: 50px;
    flex-direction: row;
    justify-self: center;
    grid-row-start: 2;
}
.timer{
    width: 130px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}
#timer_white{
    color: black;
    background-color: white;
}
#timer_black{
    color: white;
    background-color: black;
}
 .fa-solid {
     font-size: 1.6em;
     transition: all 0.3s ease;
 }
 #resign_btn:hover .fa-solid {
     animation: move_flag 1.2s linear infinite;
     color: red;
 }
 #movebtn{
    position: absolute;
    display: flex;
    top:0;
    background-color: red;
    height: 7%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.5em;
    color: white;
    background-color: green;
}
#playerspopup{
    width:32.5em;
    height: 55px;
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    background-color: #484848;
    z-index:3;
    grid-row-start: 3;
    justify-self: center;
}
.players{
    position:absolute;
    display:flex;
    width: 47.5%;
    height:100%;
    z-index:1;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:1.5em;
}
#black_player{
   left:53%;
    color:black;
}
#versus{
    display:flex;
    position:absolute;
    align-items:center;
    left:47.5%;
    font-size: 2em;
    color: white;
    bottom:0;
    height:100%;
}
#alfabet_cors_for_black{
    flex-direction:row-reverse;
    top: -45px;
    font-family:system-ui;
    left:24px;
    width:100%;
    transform:rotate(180deg);
   }
   #numbers_cors_for_black{
       flex-direction:column;
       left: 517px;
       top: 35px;
       transform:rotate(180deg);
   }
   #cor8_black{
       margin-bottom:-23px;
   }
   #detailsbtn{
    font-size: 1.6em;
   }
           .details-popup{
            position: absolute;
            width:400px;
            height:660px;
            background-color: #484848;
            border-radius: 10px;
            z-index: 6;
            grid-row-start: 3;
            grid-column-start: 2;
        }
        .details-popup .popcolumn{
            width: 100%;
            height: 40px;
            color:white;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }
        .details-popup .up{
            background-color: green;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-top: 4%;
        }
        .settings{
            margin-top: 15px;
        }
        .dash{
            left:15%;
        }
        .details-popup .bottom{
            position: absolute;
            width:90%;
             top:80%;
        }
        .details-popup .lastmoves .moves{
            margin-top: 15px;  
            position: relative;
            left:30px;
            width: 90%;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
                    
        }
        .details-popup .lastmoves .moves span{
          position: relative;
        }
        .details-popup .lastmoves{
            width:95%;
            height: 67%;
            margin-top: 15px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 1.2em;
            color:white;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        .details-popup #columns2{
            position: relative;
            background-color: #484848;
            top:10px;

        }
       ::-webkit-scrollbar {
          background-color: #484848;
       }
       ::-webkit-scrollbar-thumb {
           background: #888;
       }
        .details-popup .popcolumn i,.popcolumn div{
            margin-left: 50px;
            margin-right: 50px;
            font-size: 1.3em;
        }
        .details-popup .settings .popcolumn i:hover,.details-popup .lastmoves span:hover{
            color: orange;
        }
        .details-popup hr{
            width:90%;
            position: relative;
            top:10px;
        }
        .details-popup .hrdown{
            position: relative;
            top:15px;
        }
        .details-popup .gameEnding{
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 90px;
            bottom:0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .details-popup .gameEnding .popcolumn{
            height:100%;
        }
        .details-popup .gameEnding i{
            height:2em;
            width:100%;
            font-size: 1.8em;
            display: flex;
            align-items: center;
        }
        .whiteMove{
    position: relative;
    display: inline-block;
    position: relative;
    width: 80px;
    left: 25px;
        }
        .blackMove{
    position: relative;
    display: inline-block;
    position: relative;
    width: 80px;
    left: 25px;
        }
        .fa-thumbs-up{
            opacity: 0.5;
        }
        .fa-flag{
            color: green;
            opacity: 0.5;
        }
        .fa-flag:hover{
            animation: move_flag 1.2s linear infinite;
            color:red;
        }
        .over{
            position: relative;
            left: 20px !important;
        }
        .big{
            position: relative;
            left: 10px !important;
        }
        #startGame{
            color:white;
            background-color: #eb8934;
            width: 7em;
            height: 3em;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: monospace;
            border-radius: 10px;
            font-size: 1.5em;
            z-index:5;
            margin-top: 25px;
            grid-row-start: 5;
            justify-self: center;
            align-self: center;
        }
        #startGame:hover{
            background-color: green;
        }
 @keyframes move_flag {
     0% {
         transform: rotate(-15deg);
     }
     25% {
         transform: rotate(0deg); 
     }
     50% {
         transform: rotate(-15deg); 
     }
     75% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(-15deg); 
     }
 }
 #invalid_popup{
    display:flex;
    position:absolute;
    top:-50px;
    background-color:red;
    height:50px;
    z-index:5;
    font-size:1.2em;
    color:white;
    align-items:center;
    width: 20em;
    font-family: cursive;
    padding-left:5%;
    grid-row-start: 1;
    }
    .main{
        position: relative;
        z-index:6;
        display: grid;
        grid-template-columns: 600px 400px;
        grid-template-rows: 95px 50px 55px 600px 6em;
        column-gap: 30px;
        margin: 0 auto auto;
        /* align-self: center; */
    }
    @keyframes invalidpopup{
        10%,90%{top:0}
        100%{top:-50px}
    }

    @media screen and (max-width:1070px) {
        .main{
        margin: 0 auto auto;
        grid-template-columns: 470px 350px;
        grid-template-rows: 95px 40px 45px 600px 6em;
        }
        .details-popup{
            width: 350px;
            height:530px;
        }
        .details-popup .popcolumn{
            height:30px;
        }
        .details-popup .lastmoves{
            font-size: 1em;
        }
        .details-popup .popcolumn i{
            font-size: 1.25em;
        }
        .details-popup .gameEnding{
            height:70px;
        }
        #startGame{
            position: relative;
            grid-row-start:5;
            grid-column-start: 1;
            top: -8em;
            font-size: 1.3em;
        }
        #invalid_popup{
            font-size:1em;
            width: 15em;  
        }
        #timerpopup{
            position:relative;
            font-size: 14px;
            width: 210px;
            height: 40px;
        }
        #playerspopup{
            width:24.5em;
            height: 45px;
        } 
        .players{
            font-size:1.2em;
        }
        #versus{
            font-size: 1.5em; 
        }
        .promote {
            font-size: 15px;
          }         
          .promote-content {
            width: 300px;
          }
          .wrapper{
            width: 470px;
            height: 470px;
            z-index: 5;
            grid-column-start: 1;
            align-self: normal;
          }
          .board{
            width: 375px;
            border: 2px solid black;
          }
          .square{
            width: 45px;
            height: 45px;
            font-size: 9px;
          }
          .pieces,.promote_pieces{
            height:20px;
            width: 20px; 
        }  
        #alfabet_cors{
        top:385px;
        left:-20px;
       }
       .alfabet_cor,.number_cor{
        font-size:20px;
    }
    .alfabet_cor{
        margin-left:37px;
    }
    #numbers_cors{      
        left:-30px;
    }
    .number_cor {
        margin-top: 25px;
    }
    #alfabet_cors_for_black {
        top: -35px;
    }
    #numbers_cors_for_black {
        left: 397px;
    }
    .timer{
        font-size: 1.5em;
        width: 5em;
        height: 1.9em;
    }
    #resign_btn {
        height: 2em;
        width: 6em;
        top: 12.5em;
        left:-1.9em;
     }
     #resultpopup {
        width: 21em;
        height: 38.3em;
        font-size: 0.9em;
     }
    }
    #promoteTag{
         font-family:OCR A Std, monospace;
         font-size:0.8em;
    }
    #volume{
        width:26px;
    }
     @media screen and (max-width:900px) {
        .main{
        margin: 0 auto auto;
        grid-template-columns: 369px 280px;
        grid-template-rows: 95px 40px 40px 600px 6em;
        column-gap: 20px;
        }
        .details-popup{
        width: 280px;
        height: 460px;
    }
        .details-popup .gameEnding{
        height: 60px;
    }
    .details-popup .popcolumn i{
            font-size: 1.1em;
            margin-left: 40px;
            margin-right: 40px;
            width:22px;
        }
        .details-popup .lastmoves{
        font-size: 0.8em;
    }
    #versus{
        font-size: 1.2em;
    }
    .players{
        font-size: 1em;
    }
        #playerspopup{
           width:18.5em;
        }
        #timerpopup{
          width:180px;
        }
        .wrapper{
            width: 369px;
            height:369px;
        }
        .square{
            width: 34px;
            height: 34px;
        }
        .board{
            width: 285px;
            height:285px;
        }
        .number_cor{
            margin-top:13px;
        }
        .alfabet_cor{
            margin-left: 24px;
        }
        #numbers_cors{
            top: -2px;
            left: -26px;
        }
        .alfabet_cor{
        margin-left: 26px;
        position: relative;
        left: 5px;
        }
        #alfabet_cors_for_black{
        left:21px;
        top: -30px;
        }
        #alfabet_cors {
        top: 288px;
        left: -18px;
        }
        #playerspopup{
            width: 18.5em;
            height: 40px;
        }
        #numbers_cors_for_black{
             left:302px;
             top: 27px;
        }
        .pieces, .promote_pieces{ 
            width: 15px;
            height: 15px;
        }
        #startGame{
            width: 8em;
            height: 4em;
            font-size: 0.9em;
            top: -18em;
        }
    }
    @media screen and (max-width: 700px){
        body{
            overflow-y: scroll;
        }
        .main {
        margin: auto;
        grid-template-columns: 369px;
        grid-template-rows: 95px 40px 40px 459px 530px;
        column-gap: 20px;
    }
        .details-popup .popcolumn{
        height: 25px;
    }
    .details-popup{
        width:300px;
        height:480px;
      grid-row-start: 5;  
      grid-column-start: 1;
      justify-self: center;
    } 
    #startGame{
        top:-28em;
    }
     .details-popup .lastmoves{
        font-size: 0.98em;
    }
    #volume{
        margin-left:35px;
    }
    .background{
            object-fit: cover;
        }
    }
     @media screen and (max-height: 650px){
        body{
            overflow-y: scroll;
        }
     }